node_modules
dist
out
build
.DS_Store
.eslintcache
.claude
.agents
docs/superpowers
skills-lock.json
*.log*
.vscode/settings.json

# Rust build artifacts
**/target
native/*/*.node
# native/*/index.d.ts
package-lock.json
